<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/board.css" rel="stylesheet">
    <title>TicketEase</title>
</head>
<body>

<div th:replace="~{common/header}"></div>

<div class="container mt-4">
    <!-- 게시물 목록 테이블 -->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>공연 제목</th>
            <th>시작일</th>
            <th>종료일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Board : ${board}">
            <td th:text="${Board.id()}">1</td>
            <td><a th:text="${Board.name()}" th:href="@{/detail/{id}(id=${Board.id()})}">제목</a></td>
            <td th:text="${Board.time().performanceStartDateTime}">2023-08-24</td>
            <td th:text="${Board.time().getPerformanceEndDateTime}">2023-09-24</td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <div th:each="pageNumber : ${paginationBarNumbers}">
            <input class="btn btn-primary disabled" type="button" th:value="${pageNumber + 1}"
                   th:if="${pageNumber} == ${board.number}">
            <a class="page-link" th:text="${pageNumber + 1}" th:if="${pageNumber} != ${board.number}"
               th:href="@{/(page=${pageNumber} ,search=${param.search})}">2</a>
        </div>
    </ul>
</div>

<div th:replace="~{common/footer}"></div>

</body>
</html>
